<p id="notice"><%= notice %></p>

<p>
  <strong>Rma id:</strong>
  <%= @s_row.rma_ID %>
</p>

<p>
  <strong>Ttest:</strong>
  <%= @s_row.ttest %>
</p>

<p>
  <strong>Tprod:</strong>
  <%= @s_row.tprod %>
</p>

<p>
  <strong>Tmech:</strong>
  <%= @s_row.tmech %>
</p>

<p>
  <strong>Tprot:</strong>
  <%= @s_row.tprot %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @s_row.warranty %>
</p>

<p>
  <strong>Action:</strong>
  <%= @s_row.action %>
</p>

<p>
  <strong>Pulager id:</strong>
  <%= @s_row.PULAGER_ID %>
</p>

<p>
  <strong>Artname:</strong>
  <%= @s_row.artname %>
</p>


<%= link_to 'Edit', edit_s_row_path(@s_row) %> |
<%= link_to 'Back', s_rows_path %>
