<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :SRow_ID %><br />
    <%= f.text_field :SRow_ID %>
  </div>
  <div class="field">
    <%= f.label :rma_ID %><br />
    <%= f.text_field :rma_ID %>
  </div>
  <div class="field">
    <%= f.label :ttest %><br />
    <%= f.number_field :ttest %>
  </div>
  <div class="field">
    <%= f.label :tprod %><br />
    <%= f.number_field :tprod %>
  </div>
  <div class="field">
    <%= f.label :tmech %><br />
    <%= f.number_field :tmech %>
  </div>
  <div class="field">
    <%= f.label :tprot %><br />
    <%= f.number_field :tprot %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br />
    <%= f.number_field :warranty %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_area :action %>
  </div>
  <div class="field">
    <%= f.label :PULAGER_ID %><br />
    <%= f.text_field :PULAGER_ID %>
  </div>
  <div class="field">
    <%= f.label :artname %><br />
    <%= f.text_field :artname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
