<p id="notice"><%= notice %></p>

<p>
  <strong>Srow id:</strong>
  <%= @unit.SRow_ID %>
</p>

<p>
  <strong>Rma id:</strong>
  <%= @unit.rma_ID %>
</p>

<p>
  <strong>Ttest:</strong>
  <%= @unit.ttest %>
</p>

<p>
  <strong>Tprod:</strong>
  <%= @unit.tprod %>
</p>

<p>
  <strong>Tmech:</strong>
  <%= @unit.tmech %>
</p>

<p>
  <strong>Tprot:</strong>
  <%= @unit.tprot %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @unit.warranty %>
</p>

<p>
  <strong>Action:</strong>
  <%= @unit.action %>
</p>

<p>
  <strong>Pulager id:</strong>
  <%= @unit.PULAGER_ID %>
</p>

<p>
  <strong>Artname:</strong>
  <%= @unit.artname %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
