<p id="notice"><%= notice %></p>

<p>
  <strong>Pulager id:</strong>
  <%= @r_mat.PULAGER_ID %>
</p>

<p>
  <strong>Pulager name:</strong>
  <%= @r_mat.PULAGER_Name %>
</p>

<p>
  <strong>Srow id:</strong>
  <%= @r_mat.SRow_ID %>
</p>


<%= link_to 'Edit', edit_r_mat_path(@r_mat) %> |
<%= link_to 'Back', r_mats_path %>
