<%= form_for(@rma_note) do |f| %>
  <% if @rma_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rma_note.errors.count, "error") %> prohibited this rma_note from being saved:</h2>

      <ul>
      <% @rma_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
