<ul id="nav">
	<li><%= link_to "Start", root_path %></li>

	<li><a class="hsubs" href="#">Kund</a>
		<ul class="subs">
			<li><a href="#">Lista</a></li>
			<li><a href="#">Ny</a></li>
		</ul>
	<% if user_signed_in? %>
		<li>
			<%= link_to 'Logga ut', destroy_user_session_path, :method =>'delete' %>
		</li>
	<% else %>
		<li>
			<%= link_to 'Logga in', new_user_session_path %>
		</li>
	<% end %>
	<% if user_signed_in? %>
		<li>
			<%= link_to 'Konto', edit_user_registration_path %>
		</li>
	<% else %>
		<li>
			<%= link_to 'Registrera', new_user_registration_path %>
		</li>
	<% end %>
</ul>
